<h3 class="page-header">Form Page</h3>
<div class="page-content">
  <form [formGroup]="employeeForm" class="employeeForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="name?.hasError('required')">Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname">
      <mat-error>Este campo es obligatorio y no cumple el formato</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
        <mat-option value="helicopter">Helicopter</mat-option>
      </mat-select>
      <mat-error>Este campo es obligatorio</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Observaciones</mat-label>
      <textarea matInput formControlName="observations"></textarea>
      <mat-error>Este campo es obligatorio</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSaveEmployee()">Enviar</button>
    <button mat-raised-button color="accent" (click)="onReadEmployee()">Obtener empleado</button>
  </form>
</div>
